[project]
	description = testin repository.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/commodore28
[access "refs/for/refs/*"]
	read = group user/commodore28
	push = group user/commodore28
	label-Code-Review = -2..+2 group user/commodore28
	label-Verified = -1..+1 group user/commodore28
	rebase = group user/commodore28
	removeReviewer = group user/commodore28
	submit = group user/commodore28
[access "refs/heads/*"]
	read = group user/commodore28
	create = group user/commodore28
	push = +force group user/commodore28
	pushMerge = group user/commodore28
[access "refs/tags/*"]
	push = +force group user/commodore28
	pushTag = group user/commodore28
	pushSignedTag = group user/commodore28
